*{
margin: 0;
padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald&family=Poppins:wght@400;500;700&family=Roboto+Mono:wght@400;500&family=Vujahday+Script&display=swap');
body{
    font-family: 'Roboto Mono', monospace;
    overflow-X:hidden;
}
/* -------------------
navigation area start
----------------------*/
.full-nav{
    padding: 90px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-side-nav{
    font-weight: 700;
    font-size: 24px;
}
.right-side-nev ul{
display: flex;
}
.right-side-nev li{
 margin-right: 20px; 
list-style: none;
font-weight: 600;
font-size: 16px;
}
.right-side-nev  a{
text-decoration: none;
color: #3A3A3A;
}
/* ---------------------
navigation area end
------------------------- */
/*----------------------
      to top start
----------------------- */
.top-article{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 0px 70px;
}
.top-article-title{
    font-weight: 700;
    font-size: 40px;
    color: 
    #3A3A3A;
}
.top-article-description p{
    line-height: 22px;
}
.common-button{
    margin-top: 8px;
    background-color: #E02C6D;
    border: none;
    border-radius: 40px;
    padding: 8px 20px;
    color: white;
}
.right-side-img{
background-image: url("images/Circle\ design.svg");
background-repeat: no-repeat;
background-size: 370px;
margin-top: 20px;
}
.right-side-img img{
    width: 340px;
    height: 314px;
    margin-left: 3px;
    margin-top: 32px;
    padding: 10px;
}
/* --------------------
           to top end 
-------------------------*/
.top-journey-area .new-marketplace-icon{
    margin-left: 70px;
    margin-right: 70px;
}
/* ----------------------
     marketplace-icon start
 -------------------------*/
.all-marketplace-icon{
    display: flex;
    margin-top: 50px;
    border: .5px 0px solid grey;
    box-shadow: 0px 0px 4px #8080802b;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.all-marketplace-icon img{
    padding: 10px;

}
 /* -------------------------
       marketplace-icon end
-------------------------------*/

/* ---------------------
     collection start 
-----------------------------*/
.whole-collection-cover{
    margin-left: 70px;
    margin-right: 70px;
} 
.section-title{
    position: relative;
    left: 323px;
    margin-bottom: 50px;
}
.popular-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 22px;
}
.popular-item{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: -1px 5px 5px grey;
}
.collection{
    justify-content: center;
    align-items: center;
}
.name-c{
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}
.rating-star{
    color:#FB8200;
    font-size: ; 
}
.stsr-size{
    font-size: 10px;
}
.point{
    font-size: 16px;
    font-weight: 600;
    color: #5E6366;
}
.popular-item img{
    width: 250px;
    height: 200px;
    border-radius: 8px;
}

/* --------------------------
         collection end
------------------------------- */
/* ----------------------
        mare link start
 -------------------------*/
.more-option{
    border: 1px solid #ffffff;
    margin-top: 38px;
    text-decoration: none;
    color: #E02C6DDE;
    display: inline-block;
    position: relative;
    left: 850px;
    font-weight: 600;
    font-size: 13px;
}
.ok{
    margin-top: 2px;
}

 /*-------------------------
         mare link end
 ---------------------------*/
 /* -------------------------
    Featured-products start
 ---------------------------- */
 .Featured-products{
    margin-left: 70px;
    margin-right: 70px;
 }
.products{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin-top: 60px;
}
.common-button2{
    margin-top: 8px;
    background-color: #E02C6D;
    border: none;
    padding: 8px 20px;
    color: white;
    box-shadow: 5px 5px 5px #f1a6c2;
}
.common-button2:hover{
    transform: skew(30deg);
    transition:  transform 2s ease ;
    cursor: pointer;
}
.products-img img{
    width: 300px;
    height: 250px;
    border-radius: 20px;

}
 /*-----------------------------
        Featured-products end
 -------------------------------*/
/* -----------------------
          footre start
---------------------------*/
.footer-area{
    margin-top: 50px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0;
}
.all-social-media li{
    display: inline;
    padding: 10px 5px;
    font-size: 26px;
}


/* --------------------------
            footre end
-------------------------------- */
@media  only screen and (max-width:488px){
   body{
    overflow-X:hidden;
   }
    .full-nav{
        flex-direction: column;
       
    }
    .right-side-nev ul{
        flex-direction: row;
    }
    .top-article{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
      
    }
    .right-side-img img{
        width: 240px;
        height: 214px;
        margin-left: 3px;
        margin-top: 32px;
        padding: 10px;
    }
    .right-side-img{
        background-image: url("images/Circle\ design.svg");
        background-repeat: no-repeat;
        background-size: 270px;
        margin-top: 20px;
        }
    .all-marketplace-icon{
        flex-direction: column;
        border:none;
        box-shadow: none;
    }
    .section-title{
        margin-bottom: 50px;
        position: static;
    }
    .popular-collection{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 22px;
    }
    .more-option{
        border: 1px solid #ffffff;
        margin-top: 38px;
        text-decoration: none;
        color: #E02C6DDE;
        display: inline-block;
        position: relative;
        left: 300px;
        font-weight: 600;
        font-size: 13px;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        margin-top: 60px;
    }
    .products-img img{
        width: 300px;
        height: 250px;
        border-radius: 20px;
    
    }
    }
    @media  only screen and (min-width:488px) and (max-width:790px){
        body{
            overflow-X:hidden;
           }
            .full-nav{
                flex-direction: column;
               
            }
            .right-side-nev ul{
                flex-direction: row;
            }
            .top-article{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                align-items: center;
              
            }
            .right-side-img img{
                width: 240px;
                height: 214px;
                margin-left: 3px;
                margin-top: 32px;
                padding: 10px;
            }
            .right-side-img{
                background-image: url("images/Circle\ design.svg");
                background-repeat: no-repeat;
                background-size: 270px;
                margin-top: 20px;
                }
            .all-marketplace-icon{
                flex-direction: column;
                border:none;
                box-shadow: none;
            }
            .section-title{
                margin-bottom: 50px;
                position: static;
            }
            .popular-collection{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 22px;
            }
            .more-option{
                border: 1px solid #ffffff;
                margin-top: 38px;
                text-decoration: none;
                color: #E02C6DDE;
                display: inline-block;
                position: relative;
                left: 300px;
                font-weight: 600;
                font-size: 13px;
            }
            .products{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                align-items: center;
                margin-top: 60px;
            }
            .products-img img{
                width: 300px;
                height: 250px;
                border-radius: 20px;
            
            }
    }
